body{
    background-color: #8062D6;
    font-family: 'Playfair Display', serif;
}

.container{
    padding-top: 10%;
}

.date{
    display: flex;
    justify-content: center;
}

h1{
    text-align: center;
    width: auto;
    background-color: #1D267D;  
    color: #fff;
    padding: 1%;
}

.list-container{
    display: flex;
    justify-content: center;
}

.list{
    text-align: center;
    width: auto;
    background-color: #F6F4EB;
    padding: 1%;
    padding-bottom: 0%;
}

form{
    padding: 1%;
}


input[type="text"] {
    text-align: center;
    border: none;
    background: transparent;
    font-size: 1.5rem;
    width: 80%;
}

input[type="text"]:focus {
    outline: none;
    box-shadow: inset 0 -3px 0 0 #8062D6;
}

.add-button {
    width: 10%;
    border-radius: 100%;
    border-color: transparent;
    background-color: #8062D6;
    color: #fff;
    font-size: 2rem;
    border-width: 0;
    height: 10%;
}

ul li{
    width: auto;
    list-style-type: 3px;
    font-size: 1.5rem;
    padding: 2% 5%;
    text-align: left;
    cursor: pointer;
}

ul li.checked{
    color:#555;
    text-decoration:line-through;
}

ul li span{ 
    position: relative;
    float: right;
    cursor: pointer;
}

p{
    font-size: 1.3rem;
    color: #fff;
    display: flex;
    justify-content: center;
}
