body{
    background-image: url(Image/Burger.jpeg);
    background-repeat: no-repeat;
    background-size: 100% 700px;
    font-style: "montserret-bold"
}

h1{
    color: lightslategrey;
    font-weight: bold;
}

h2{
    display: inline-block;
    margin-top: 16px;
    margin-left: 30px;
}

h4{
    font-weight: bold;
}

#navigation{
    margin: 10px 100px;
    color: lightslategrey;
}

ul{
    list-style-type: none;
    font-size: 20px;
    display: inline;
    position: absolute;
    right: 130px;
    overflow: hidden;
}

li{
    display: inline;
    padding: 10px;
}

a{
    text-decoration: none;
    color: lightslategrey;
}

.frontpg-headline{
    font-size: 20px;
    width: 300px;
    margin-left: 240px;
    margin-top: 140px;
    margin-bottom: 275px;
    text-align: center;
}

.ordernow-btn>button{
    font-size: 25px;
    font-weight: bold;
    color: orangered;
    width: 250px;
    border-radius: 12px;
    background-color: transparent;
    text-align: center;
    padding: 6px;
    border-color: orangered;
}

#menu{
    background-color: aliceblue;
    padding-top: 100px ;
    text-align: center;
}

.Items{
    display: inline;
    border: 1px transparent;
}

.Items>img{
    width: 300px;
    height: 300px;
}

p{
    font-weight: bold;
}

footer{
    background-color: #fff;
    text-align: center;
    padding: 30px 100px;
    margin: 50px;
}

.footer-icon{
    padding: 10px;
}