body{
    margin: 3% !important;
    background-color: grey !important;
    font-family: 'Playfair Display', serif !important;
    font-weight: bolder !important;
}

h1{
    text-align: center;
    margin: 2% 0 !important;
    font-size: 1.4rem;
}

.filter-bar{
    text-align: center;
    margin-bottom: 2%;
}

.filter{
    width: auto;
    margin: 0 .5% 2% .5%;
    border-radius: 5px;  
    font-size: 1.2rem; 
    font-family: 'Playfair Display', serif !important;
    border: none;
}

.filter.active{
    background-color: #08e3f3;
    color: white;
    box-shadow: 2px 2px 2px #00e6f7;
    border: none;
}

#all-products{
    margin: 0 5% 1% 5% !important;
}

.container{
    width: 70%;
    padding: 0 2% 5% 2% !important;
    margin: 0px !important;
}

.container:hover{
    transform: scale(0.9);
}

.container.hide{
    display: none;
}

.card{
    border: none !important;
}

.preview-image{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.9);
    background: var(--white);
    max-width: 600px;
    width: 100%;
    z-index: 5;
    opacity: 0;
    pointer-events: none;
    border-radius: 3px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.preview-image.show{
    opacity: 1;
    pointer-events: all;
    transform: translate(-50%, -50%) scale(1);
}

.preview-image .detail-box{
    display: flex;
    align-items: center;
    padding:10px;
    justify-content: space-between;
    background-color: black;
}

.preview-image .detail-box .title{
    display: flex;
    font-size: 20px;
    font-weight: 500;
    color: white;
} 


.detail-box .title p{
    margin-left: 5px;
    font-size: 20px;
    font-weight: 500;
}

span{
    padding-top: 10px;
}

#close-cart{
    font-size: 30px;
    cursor: pointer;
    color: white;
}

.image-box img{
    border-radius: 0 0 3px 3px;
    padding: 0 25% 0 25%;
    background-color: white;
    width: 100%;
}

.shadow{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    display: none;
    background: rgba(0, 0, 0, 0.4);
}
